
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_configure.cshtml";

}

<div class="row" id="HomeBody">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="panel  panel-info">
                    <div class="panel-heading">
                        <h5>Setup</h5>
                    </div>
                    <div class="panel-body">
                        <div class="btn-toolbar">
                            @using (Html.BeginForm("ShowView", "Configure", FormMethod.Post, new { @class = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row center-block">
                                    <button type="submit" class="btn btn-info btn-block" name="ConfigureType" value="1">Define Process</button>
                                    <button type="submit" class="btn btn-info btn-block" name="ConfigureType" value="2">Define Fields</button>
                                    <button type="submit" class="btn btn-info btn-block" name="ConfigureType" value="3">Define Groups</button>
                                    <button type="submit" class="btn btn-info btn-block" name="ConfigureType" value="4">Define Queries</button>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


</div>




