<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">

        <div class="header">
            <h1 class="text-center"> o n o q u a</h1>
            <h4 class="text-center">Creating efficiencies</h4>
        </div>
        
        <div class="row" id="HomeBody">
            <div class="form-group">
                <div class="row">
                   
                    <div class="col-md-12">
                        @RenderBody()
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>
</html>
